body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 62vh;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
header h1 {
  font-size: calc(3rem + 3vw);
  line-height: 100%;
  margin: 0;
}
header p {
  text-align: center;
  max-width: 80%;
  width: 50ex;
  font-size: calc(1rem + .5vw);
  line-height: 138%;
}
main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: sans-serif;
}
canvas  {
  display: block;
  width:62vmin;
  height:62vmin;
  margin: auto;
  border: 1rem solid white;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,0.1);
}
overlay- {
  position: absolute;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin-left: calc(50% - 31vmin);
  pointer-events: none;
}
overlay- img {
  display: block;
  width:62vmin;
  height:62vmin;
  pointer-events: none;
  background: #f2f2f2;
  flex: none;
}
overlay- img.active {
  background: transparent;
}
overlay- img:not(.active) {
  transform: scale(.618);
}

button {
  border: 0;
  padding: 1rem;
  background: #eee;
  font-size: calc(1rem + .5vw);
  font-weight: bold;
  outline: none;
  color: #999;
}

button:hover {
  color: #666;
}

controls- {
  position: absolute;
  text-align: center;
  bottom: 0;
  left: 0;
  width: 100%;
}
